name: Tmate SSH

on:
  workflow_dispatch:

jobs:
  ubuntu-container:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
      
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup tmate SSH Session
      uses: ./
      with:
        limit-access-to-actor: false

    - name: Keep Workflow Running
      run: sleep 21600
